@import 'normalize.css';
@import url('https://fonts.google.com/specimen/IBM+Plex+Sans/tester');
@font-face {
    font-family: 'SofiaPro';
    src: url(//lf16-tiktok-common.ttwstatic.com/obj/tiktok-web-common-sg/falcon/tiktok_fonts/sofiapro-bold.woff2)
            format('woff2'),
        url(//lf16-tiktok-common.ttwstatic.com/obj/tiktok-web-common-sg/falcon/tiktok_fonts/sofiapro-bold.woff)
            format('woff'),
        url(//lf16-tiktok-common.ttwstatic.com/obj/tiktok-web-common-sg/falcon/tiktok_fonts/sofiapro-bold.otf)
            format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url(//lf16-tiktok-common.ttwstatic.com/obj/tiktok-web-common-sg/falcon/tiktok_fonts/Proxima-Nova-Regular.woff2)
            format('woff2'),
        url(//lf16-tiktok-common.ttwstatic.com/obj/tiktok-web-common-sg/falcon/tiktok_fonts/Proxima-Nova-Regular.woff)
            format('woff'),
        url(//lf16-tiktok-common.ttwstatic.com/obj/tiktok-web-common-sg/falcon/tiktok_fonts/Proxima-Nova-Regular.otf)
            format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url(//lf16-tiktok-common.ttwstatic.com/obj/tiktok-web-common-sg/falcon/tiktok_fonts/Proxima-Nova-Semibold.woff2)
            format('woff2'),
        url(//lf16-tiktok-common.ttwstatic.com/obj/tiktok-web-common-sg/falcon/tiktok_fonts/Proxima-Nova-Semibold.woff)
            format('woff'),
        url(//lf16-tiktok-common.ttwstatic.com/obj/tiktok-web-common-sg/falcon/tiktok_fonts/Proxima-Nova-Semibold.otf)
            format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url(//lf16-tiktok-common.ttwstatic.com/obj/tiktok-web-common-sg/falcon/tiktok_fonts/Proxima-Nova-Bold.woff2)
            format('woff2'),
        url(//lf16-tiktok-common.ttwstatic.com/obj/tiktok-web-common-sg/falcon/tiktok_fonts/Proxima-Nova-Bold.woff)
            format('woff'),
        url(//lf16-tiktok-common.ttwstatic.com/obj/tiktok-web-common-sg/falcon/tiktok_fonts/Proxima-Nova-Bold.otf)
            format('opentype');
    font-weight: 700;
    font-style: normal;
}
// Base Css
:root {
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --text-color: rgb(22, 24, 35);
    --subtext-color: rgba(22, 24, 35, 0.5);
    --secondary-color: #a7a7ab;
    --black: #000;
    --white: #fff;
    --hover-color: rgba(22, 24, 35, 0.03);
    --check-color: rgb(32, 213, 236);
    --primary-color: rgba(254, 44, 85, 1);
    --default-layout-horizontal-spacer: 24px;
    --tooltip-color: rgba(84, 84, 84, 0.92);
    --font-family: 'IBM Plex Sans', ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 2.2rem;
    text-rendering: optimizeSpeed;
    overflow-y: overlay;
}

button,
input,
[tabindex] {
    font-family: var(--font-family);
    outline: none;
    border: none;
    background: transparent;
}

a {
    display: flex;
    text-decoration: none;
    color: var(--text-color);
}

// Scrollbar

html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.06);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

// Custom Tippy Tooltips
body {
    .tippy-box {
        background-color: var(--tooltip-color);
        font-size: 1.6rem;
        font-weight: 600;
        border-radius: 8px;
    }

    .tippy-content {
        padding: 8px 9px;
    }

    .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
        top: -8px;
    }

    .tippy-arrow:before {
        color: var(--tooltip-color);
    }
}
