%btn {
    display: flex;
    cursor: pointer;
}

%center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    --caret-color: rgb(254, 44, 85);
    --search-height: 46px;
    --search-btn-width: 52px;
    --search-width: 361px;

    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: var(--white);
    z-index: 1000;

    .inner {
        @extend %center;
        justify-content: space-between;
        height: 100%;
        padding: 0 var(--default-layout-horizontal-spacer) 0 calc(var(--default-layout-horizontal-spacer) - 4px);
        width: var(--default-layout-width);

        .logo {
        }
    }

    .action {
        display: flex;
        align-items: center;

        .make-effect-btn {
            width: 32px;
        }

        .make-effect-btn,
        .options {
            @extend %btn, %center;
            margin-left: 16px;
        }

        .options {
            font-size: 1.6rem;
            padding: 0 8px 0 4px;
        }

        // Login
        .user-action-btn {
            font-size: 2rem;
            cursor: pointer;
            display: flex;
            padding: 3px;
            align-items: center;
            color: var(--text-color);
            position: relative;

            margin-left: 16px;

            &.inbox-icon {
                padding: 0;
            }

            .badge {
                position: absolute;
                top: -7px;
                left: 16px;
                height: 2rem;
                padding: 0 6px;
                text-align: center;
                min-width: 2rem;
                line-height: 2.1rem;
                background-color: var(--primary-btn-color);
                border-radius: 10px;
                color: var(--white);
                font-size: 1.4rem;
                font-weight: 700;
            }
        }

        .user-avatar {
            cursor: pointer;
            margin-left: 24px;
            display: flex;
            & > img {
                width: 32px;
                height: 32px;
                border-radius: 50%;
            }
        }
    }
}
