$header-height: 50px;

.menu-list {
    min-width: 224px;

    // Menu Item
    .menu-item {
        padding: 10px 8px 10px 16px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-weight: 600;
        font-size: 1.6rem;
        width: 100%;
        border-radius: 0;

        &:hover {
            background-color: var(--hover-color);
        }
    }

    .sub-item {
        font-weight: 400;
        font-size: 1.4rem;
        padding: 10px 24px;
    }
}

.menu-popper {
    padding-bottom: 8px;
}

.menu-body {
    overflow-y: auto;
}

// Header
.header {
    height: $header-height;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    font-weight: 700;
    font-size: 1.8rem;
    margin-top: -8px;
}

.back-btn {
    position: absolute;
    left: 4px;
    padding: 12px 16px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    cursor: pointer;
}

.separate {
    border-top: 1px solid rgba(22, 24, 35, 0.12);
}
