.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: var(--default-layout-width);
    display: flex;
    height: 1000px;
    padding: 0 var(--default-layout-horizontal-spacer);
}

.content {
    flex: 1;
    background-color: #cfa;
}

.back-to-top {
    position: fixed;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    bottom: 20px;
    right: 20px;

    &:active {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.06);
    }
}
